<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>用户列表</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/ico">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
    <div class="layout-container">
        <!--左侧导航-->
        <aside class="layout-sidebar">
            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="/index/"><img th:src="@{/images/logo-sidebar.png}" title="" alt="" /></a>
            </div>
            <div class="layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item active"> <a href="/index/"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>管理</a>
                            <ul class="nav nav-subnav">
                                <li> <a href="/user/list/">用户</a> </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="aside-toggler">
                            <span class="toggler-bar"></span>
                            <span class="toggler-bar"></span>
                            <span class="toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> 后台管理 - 用户列表 </span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" th:src="${user.getAvatar()}" th:alt="${user.getNickName()}"/>
                                <span th:text="${user.getNickName()}"> <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li> <a href="/user/profile/"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                                <li> <a href="/user/editPwd/"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                                <li class="divider"></li>
                                <li> <a href="/user/logout/"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <form class="pull-right search-bar" method="get" action="#!" role="form">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <input type="hidden" name="search_field" id="search-field" value="title">
                                            <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                                                标题 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                                                <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                                    </div>
                                </form>
                                <div class="toolbar-btn-action">
                                    <a class="btn btn-primary m-r-5" href="/user/add/"><i class="mdi mdi-plus"></i> 新增</a>
<!--                                    <a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>-->
<!--                                    <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>-->
<!--                                    <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>-->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead align="center">
                                            <tr>
                                                <td>ID</td>
                                                <td>用户名</td>
                                                <td>昵称</td>
                                                <td>年龄</td>
                                                <td>家庭地址</td>
                                                <td>头像</td>
                                                <td>邮箱</td>
                                                <td>备注</td>
                                                <td>操作</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="list:${list.list}" align="center">
                                            <td th:text="${list.id}"></td>
                                            <td th:text="${list.loginName}"></td>
                                            <td th:text="${list.nickName}"></td>
                                            <td th:text="${list.age}"></td>
                                            <td th:text="${list.address}"></td>
                                            <td><img th:src="${list.avatar}" class="img-avatar img-avatar-48 m-r-10"/></td>
                                            <td th:text="${list.email}"></td>
                                            <td th:text="${list.remark}" width="15%"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                    <a class="btn btn-xs btn-default delUser" href="#" title="删除" data-toggle="tooltip" th:data="${list.id}"><i class="mdi mdi-window-close"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination" th:if="${list.pages>0}">
                                    <li th:if="${list.pageNum==1}" class="disabled">
                                        <span>«</span>
                                    </li>
                                    <li th:unless="${list.pageNum==1}">
                                        <a th:href="@{/user/list/(pageNum=${list.pageNum-1})}"><span>«</span></a>
                                    </li>
                                    <li th:each="i:${#numbers.sequence(1,list.pages)}" th:class="${list.pageNum== i ?'active':''}">
                                        <a th:if="${list.pageNum != i}" th:href="@{/user/list/(pageNum=${i})}" th:text="${i}">1</a>
                                        <span th:if="${list.pageNum == i}" th:text="${i}"></span>
                                    </li>
                                    <li th:if="${list.pages==list.pageNum}" class="disabled">
                                        <span>»</span>
                                    </li>
                                    <li th:unless="${list.pages==list.pageNum}">
                                        <a th:href="@{/user/list/(pageNum=${list.pageNum+1})}"><span>»</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });

        $('.delUser').click(function () {
            var statu = confirm("确认要删除该用户吗？");
            if (!statu) {
                return false;
            }
            var id = $(this).attr('data');
            if (id > 0) {
                $.ajax({
                    type:'POST',
                    url:'/user/del/',
                    data:'id=' + id,
                    success:function(msg){
                        if(msg == 'success'){
                            alert('删除成功');
                            location.reload();
                        }else{
                            alert('删除失败');
                        }
                    },
                    error:function(){
                        alert('删除失败');
                    }
                });
            }
        });
    });
</script>
</body>
</html>