<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/list">user list</a><br/><br/>
<form action="add" method="post">
    <div class="form-group">
        <label for="loginName">loginName</label>
        <input type="text" name="loginName" class="form-control" id="loginName">
    </div>
    <div class="form-group">
        <label for="Password">password</label>
        <input type="password" name="password" class="form-control" id="Password">
    </div>
    <div class="form-group">
        <label for="nickName">nickName</label>
        <input type="text" name="nickName" class="form-control" id="nickName">
    </div>
    <div class="form-group">
        <label for="age">age</label>
        <input type="text" name="age" class="form-control" id="age">
    </div>
    <div class="form-group">
        <label for="address">address</label>
        <input type="text" name="address" class="form-control" id="address">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>