<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>id</td>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <td>loginName</td>
        <td th:text="${user.loginName}"></td>
    </tr>
    <tr>
        <td>nickName</td>
        <td th:text="${user.nickName}"></td>
    </tr>
    <tr>
        <td>age</td>
        <td th:text="${user.age}"></td>
    </tr>
    <tr>
        <td>address</td>
        <td th:text="${user.address}"></td>
    </tr>
</table>
</body>
</html>